<%= form_with(model: party, local: true) do |form| %>
  <% if party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :party_name %>
  </div>

  <div class="field">
    <%= form.label :orientation %>
    <%= form.text_field :orientation, id: :party_orientation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
