<%= form_for @acceptance_project, :url => { :controller => "acceptances", :action => "create" }, :html => {:method => :post}, local: true do |form|  %>
  		

  	<!-- NOT WORKING   -->
	<%= form.hidden_field :law_project_id, :value => params['id'] %>
	<%= form.check_box :like, id: :acceptance_like, hidden: :true %>

    <% if logged_in? %>
    	
      <div class="actions">

    		<%= link_to 'javascript:;', id: "btn-like" do %>
          aprovo <span class="like-icon" aria-hidden="true"></span>
        <% end %>
    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    		<%= link_to 'javascript:;', id: "btn-dislike" do %>
          não aprovo <span class="dislike-icon" aria-hidden="true"></span>
        <% end %>

  	  </div> 

    <%else%>

     <div class="actions">
        <%= link_to '#', id: "btn-like-disabled" do %>
              aprovo <span class="like-icon like-disabled" aria-hidden="true"></span>
          <% end %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to '#', id: "btn-dislike-disabled" do %>
              não aprovo <span class="dislike-icon dislike-disabled" aria-hidden="true"></span>
          <% end %>     
     </div>

   <%end%>

<% end %>
		
		


	