<%= form_for @acceptance_project, :url => { :controller => "acceptances", :action => "create" }, :html => {:method => :post}, local: true do |form|  %>
  		

  	<!-- NOT WORKING   -->
	<%= form.hidden_field :law_project_id, :value => params['id'] %>
	<%= form.check_box :like, id: :acceptance_like, hidden: :true %>

    <% if logged_in? %>
    	
      <div class="actions">

        <%if (!@acceptanceUser.nil?)%>
          
          <%if (@acceptanceUser.acceptance.like)%>

            <%= link_to 'javascript:;', id: "btn-like", class: "like-strong" do %>
            aprovo <span class="like-icon liked" aria-hidden="true"></span>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to 'javascript:;', id: "btn-dislike" do %>
              n達o aprovo <span class="dislike-icon" aria-hidden="true"></span>
            <% end %>

          <%else%>

            <%= link_to 'javascript:;', id: "btn-like" do %>
            aprovo <span class="like-icon" aria-hidden="true"></span>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to 'javascript:;', id: "btn-dislike", class: "dislike-strong" do %>
              n達o aprovo <span class="dislike-icon disliked" aria-hidden="true"></span>
            <% end %>

          <%end%>

        <%else%>

          <%= link_to 'javascript:;', id: "btn-like" do %>
          aprovo <span class="like-icon" aria-hidden="true"></span>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'javascript:;', id: "btn-dislike" do %>
            n達o aprovo <span class="dislike-icon" aria-hidden="true"></span>
          <% end %>  

        <%end%>
    		
        <div>
          <span class="badge badge-like"><%=@number_of_likes%></span>
          <span class="badge badge-dislike"><%=@number_of_dislikes%></span>
        </div>

  	  </div> 

    <%else%>

     <div class="actions">
        <%= link_to '#', id: "btn-like-disabled" do %>
          aprovo <span class="like-icon like-disabled" aria-hidden="true"></span>
        <% end %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to '#', id: "btn-dislike-disabled" do %>
          n達o aprovo <span class="dislike-icon dislike-disabled" aria-hidden="true"></span>
        <% end %>     
     </div>

    <div>
      <span class="badge badge-like disabled"><%=@number_of_likes%></span>
      <span class="badge badge-dislike disabled"><%=@number_of_dislikes%></span>
    </div>

   <%end%>
<% end %>
		
		


	