<h4>Comentários</h4> <span class="badge comments-number"> <%= @all_comments.size %> </span><hr />
<div class="container">
  <% @all_comments.each do |law_project| %>
    
    <%if !law_project.comment.nil? %>

      <%= form_for law_project.comment, :url => { :controller => "comments", :action => "create" }, :html => {:method => :post}, local: true do |form|  %>
      
        <%= form.hidden_field :law_project_id, :value => params['id'] %>
        
        <div class="row">
          <div class="col-md-8">
            
            <div class="form-group">
              <h5><%= law_project.comment.interaction.user.name%></h5>
              
              <%= form.text_area :description, id: 'all-comment-box', class: 'form-control', disabled: :true %>  
            </div>

          <% if (logged_in? && current_user.name.eql?(law_project.comment.interaction.user.name)) %>

            <%= form.hidden_field :law_project_id, :value => law_project.comment.id %>

            <%= link_to 'Editar comentário', edit_comment_path(law_project.comment.id) %> &nbsp &nbsp | &nbsp &nbsp

            <%= link_to 'Remover comentário', comment_path(law_project.comment.id), method: :delete %>
          <% end %>

          </div>  

        </div>

      <% end %>
    <% end %>
  <% end %>
</div>


