<%= form_with(model: law_project, local: true) do |form| %>
  <% if law_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(law_project.errors.count, "error") %> prohibited this law_project from being saved:</h2>

      <ul>
      <% law_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= form.label :law_number, 'Projeto de lei número' %>
        <%= form.number_field :law_number, id: :law_project_law_number, class: 'form-control'  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :description, 'Descrição do projeto' %>
        <%= form.text_area :description, id: :law_project_description, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= form.label :date, 'Data' %>
        <%= form.text_field :date, id: :law_project_date, type: 'date', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= form.label 'Autor' %>
        <%= collection_select(:law_project, :politician_ids, load_politicians, :id, :name, {prompt: "Autor do projeto"}, {class: 'form-control'} ) %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: 'btn btn-primary'%>
    <%= button_to 'Voltar', law_projects_path, class: 'btn btn-default btn-sm', method: :get%>
  </div>
<% end %>
