<p id="notice"><%= notice %></p>

<div class="container">

	<%= form_with(model: @law_project, local: true) do |form| %>
		
		<% @law_project.politician_ids[0] = @law_project.politicians.first.name %>
	  <div class="row">
	    
	    <div class="col-md-4">
	      <div class="form-group">
	      	<h4>Projeto de lei - número</h4>
	        <%= form.number_field :law_number, id: :law_project_law_number, class: 'form-control', disabled: :true  %>
	      </div>
	    </div>

	    <div class="col-md-4">
	      <div class="form-group">
	        <h4>Autor</h4>
	        <%= form.text_field :politician_ids, id: :law_project_politician_ids, class: 'form-control', readonly: :true %>
	      </div>
	    </div>

	    <div class="col-md-4">
	      <div class="form-group">
	        <h4>Data</h4>
	        <%= form.text_field :date, id: :law_project_date, type: 'date', class: 'form-control', readonly: :true %>
	      </div>
	    </div>

	  </div>

	  <div class="row">
	    <div class="col-md-12">
	      <div class="form-group">
	        <h4>Descrição do projeto</h4>
	        <%= form.text_area :description, id: :law_project_description, class: 'form-control', readonly: :true %>
	      </div>
	    </div>
	  </div>
	<% end %>

	<%= link_to 'Editar', edit_law_project_path(@law_project) if (logged_in? && isAdmin?) %>
	<%= link_to 'Voltar', law_projects_path %> <br /> <br />

	
	<div class="container">
		<%= render 'acceptance_project' %>
	</div><hr />

	<div class="container">
		<%= render 'comment' if (!logged_in? || (logged_in? && !isAdmin?)) %>
	</div>

	<div class="container">
		<%= render 'all_comments' %>
	</div>
	

</div>
