<%= form_for(user, :html => {class: 'form-group'}) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>
  </div> <br />

  <%= f.hidden_field :password, class: 'form-control', value: @user.password_digest %>

  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-primary'%>
    <%if isAdmin?%>
      <%= button_to 'Visualizar', @user, class: 'btn btn-default btn-sm', method: :get%> |
      <%= button_to 'Voltar', users_path, class: 'btn btn-default btn-sm', method: :get%> 
    <%else%>
      <%= link_to 'Voltar', home_path, class: 'btn btn-default btn-sm', method: :get%>
    <%end%>

  </div>
<% end %>
