<%= form_for(user, :html => {class: 'form-group'}) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name, class: 'form-control'  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :password_digest, 'Senha' %>
        <%= f.password_field :password_digest, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: 'btn btn-primary'%>
    <%= button_to 'Voltar', users_path, class: 'btn btn-default btn-sm', method: :get%>
  </div>
<% end %>
