<div class="container">
    <h2>Alterar senha</h2> <br />

    <div class="row">
      <div class="col-md-2">
        <div class="field">
          <%= label 'pwd', 'Nova senha' %>
          <%= password_field_tag 'pwd'%>
        </div>
      </div>
    </div> <br />

    <div class="row">
      <div class="col-md-2">
        <div class="field">
          <%= label 'pwd-confirmation', 'Confirme sua nova senha' %>
          <%= password_field_tag 'pwd-confirmation'%>
        </div>
      </div>
    </div> <br />

    <div class="alert alert-danger" id="change-password-error" style="display: none;" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      As senhas não conferem
    </div>

    <div class="actions">
      <%= submit_tag "Alterar senha", id: 'change-pwd-btn', class: 'btn btn-primary'%>
    </div>
</div>
