<%= form_with(model: politician, local: true) do |form| %>
  <% if politician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(politician.errors.count, "error") %> prohibited this politician from being saved:</h2>

      <ul>
      <% politician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :name, 'Nome' %>
        <%= form.text_field :name, id: :politician_name, class: 'form-control' %>
      </div>
    </div> 
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= form.label :birthdate, 'Nascimento' %>
        <%= form.text_field :birthdate, id: :politician_birthdate, type: 'date', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= form.label :party, 'Partido' %>
        <%= form.text_field :party, id: :politician_party, class: 'form-control' %>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        
      </div>
    </div>
  </div> -->

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :politician_photo %>
  </div> <br/>

  <div class="actions">
    <%= form.submit "Salvar", class: 'btn btn-primary'%>
    <%= button_to 'Voltar', politicians_path, class: 'btn btn-default btn-sm', method: :get%>
  </div>
<% end %>
