<%= form_with(model: politician, local: true) do |form| %>
  <% if politician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(politician.errors.count, "error") %> prohibited this politician from being saved:</h2>

      <ul>
      <% politician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :name, 'Nome' %>
        <%= form.text_field :name, id: :politician_name, class: 'form-control' %>
      </div>
    </div> 
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= form.label :birthdate, 'Nascimento' %>
        <%= form.text_field :birthdate, id: :politician_birthdate, type: 'date', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= form.label :party, 'Partido' %>
        <%= collection_select(:politician, :party_id, load_parties, :id, :name, {prompt: "Selecione o partido"}, {class: 'form-control'} )%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= form.label :charge_id, 'Cargo' %>
        <%= collection_select(:politician, :charge_id, load_charges, :id, :charge_name, {prompt: "Selecione o cargo"}, {class: 'form-control'} ) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= form.label :state_id, 'Estado' %>
        <%= collection_select(:politician, :state_id, load_states, :id, :state_name, {prompt: "Selecione o Estado"}, {class: 'form-control'} ) %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :politician_photo %>
  </div> <br/>

  <div class="actions">
    <%= form.submit "Salvar", class: 'btn btn-primary'%>
    <%= button_to 'Voltar', politicians_path, class: 'btn btn-default btn-sm', method: :get%>
  </div>
<% end %>
