<p id="notice"><%= notice %></p>

<div class="container">

<h2>Politicians</h2>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cargo</th>
      <th>Partido</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @politicians.each do |politician| %>
      <tr>
        <td><%= politician.name %></td>
        <td><%= politician.charge.charge_name %></td>
        <td><%= politician.party %></td>
        <td><%= politician.state.state_name %></td>
        <td><%= link_to 'Show', politician %></td>
        <td><%= link_to 'Edit', edit_politician_path(politician) %></td>
        <td>
            <%= button_to politician, class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to '+ Novo político', new_politician_path, class: 'btn btn-primary', method: :get %>
</div>
