<p id="notice"><%= notice %></p>

<div class="container">

  <h2>Parlamentares</h2><br />

  <div class="row">
    <% @politicians.sort_by{|obj| obj.name}.each do |p| %>
      
      <div class="col-sm-6 col-md-4">

        <div class="thumbnail">

          <%= image_tag p.photo_url, class: 'politicians-list-photo'%> 
          
          <div class="caption">
            
            <a href="/politicians/<%=p.id%>"><h3><%= p.name %></h3></a>
            <h5><%= p.charge.charge_name.split.map(&:capitalize).join(' ') + ' - ' + p.party.name + '/' + p.state.state_name %></h5>
            <h5>Projetos de lei elaborados: <%= p.law_projects.size %></h5><br />
            
            <p>
            
              <a href="/politicians/<%=p.id%>" class="btn btn-default" role="button">Saiba mais</a>
              
              <%if !current_user.nil? && isAdmin?%>
                <a href="<%=edit_politician_path(p)%>" class="btn btn-default" role="button">Editar</a>
                <a href="/politicians/<%=p.id%>" class="btn btn-default" role="button" data-method="delete" data-confirm="Tem certeza que deseja remover?" style="float: right;">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
              <%end%>

            </p>
            
          </div>

        </div>

      </div>
    <%end%>
  </div>

  <%= button_to '+ Novo político', new_politician_path, class: 'btn btn-primary', method: :get if !current_user.nil? && isAdmin?%>
  
</div>

 

