<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @politician.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @politician.birthdate %>
</p>

<p>
  <strong>Party:</strong>
  <%= @politician.party %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @politician.photo %>
</p>

<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
