<div class="container">

	<div class="row">
		
	</div>

	<div class="row">
		
		<div class="col-md-4">
			<div class="politician-photo">
				<!-- foto -->	
			</div>
		</div>

		<div class="col-md-4">

			<div class="politician-info">
				<h4>Nome: </h4>
				<%= @politician.name %>
			</div> <br/>
			<div class="politician-info">
				<h4>Idade: </h4>
				<%= @politician.age(@politician.birthdate) %>
			</div> <br/>
			<div class="politician-info">
				<h4>Partido: </h4>
				<%= @politician.party.name %>
			</div> <br/>
			
			<div class="politician-info">
				<h4>Projetos de lei elaborados: </h4> 
			</div>
		</div>

	</div>
	
	<div class="row">

		<% if @listOfPoliticianProjects.empty?%>
			Nenhum
		<%else%>
		
			<table id="politician-law-projects" class="table table-hover table-responsive">
		    
			    <thead>
			      <tr>
			        <th class="row-number">Número</th>
			        <th class="row-abstract">Projeto</th>
			        <th class="row-acceptances">Aceitação</th>
			      </tr>
			    </thead>
			 
			    <tbody>
			    	<% @listOfPoliticianProjects.each do |lp| %>
			    		
							<tr class="link-to-law-project" data-href="/law_projects/<%=lp.id%>">
								<td><%= lp.law_number %></td>
								<td><%= lp.abstract %></td>
								<td>
									<%= lp.countAcceptances[lp.id][:acceptances][:like] %> <span class="like-icon liked" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;&nbsp;
									<%= lp.countAcceptances[lp.id][:acceptances][:dislike] %> <span class="dislike-icon disliked" aria-hidden="true"></span>
								</td>
							</tr>
						
					<%end%>
			    </tbody>

		  	</table>	
	  	<%end%>

	</div>

</div>

<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
