<header>
  
  <div class="container">
    
    <div class="main-container">
      
      <nav class="navbar navbar-default">
        
        <div class="container-fluid">
          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home"> <%= image_tag("icone.png", :alt => "diretoao.br", :class => "logo-home" ) %><%= image_tag("texto.png", :class => "texto-logo-home" ) %></a>
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav">

              <li><a class="first-item-menu" href="#">Sobre o projeto</a></li>
              
              <li><%=link_to 'Projetos de lei', law_projects_path %></li>

              <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ranking <span class="caret"></span></a>
                
                <ul class="dropdown-menu">
                  
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                
                </ul>

              </li>

            </ul>
            
            <ul class="nav navbar-nav navbar-right">

              <li><a href="users/new">Cadastre-se</a></li>
        
              <li class="dropdown">
                
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                
                <ul class="dropdown-menu" id="popin-login">
                    
                  <%= form_for(:session, :html => {class: 'form-horizontal', id: 'login-form'}, url: sign_in_path) do |f| %>
                    
                    <div style="margin-bottom: 25px; margin-top: 15px;" class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <%= f.email_field :email, autofocus: true, id: 'login-username', class: 'form-control' %>
                    </div>
                   
                    <div style="margin-bottom: 25px" class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                      <%= f.password_field :password, autocomplete: "off", id: 'login-username', class: 'form-control' %>
                    </div>

                    <div class="actions">
                      <%= f.submit "Login", class: 'btn btn-primary' %>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" > Não possui conta? 
                          <b><%= link_to "Cadastre-se aqui!", new_user_path, class: 'msg-cadastrar' %></b>
                        </div>
                      </div>
                    </div> 

                  <% end %>

                </ul>
  
              </li>  
  
            </ul>
  
          </div>
  
        </div>

      </nav>

    </div>  

  </div> 

</header>