<!DOCTYPE html>

<html>

  <head>

    <title>DiretoAo.Br</title>

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,700'%>
    <%= javascript_include_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
  </head>

  <body>

  <% if !logged_in? %>

    <%= render 'layouts/header' %>

  <% else %>

    <% if isAdmin? %>

      <%= render 'layouts/header_admin' %>

    <% else %>

      <%= render 'layouts/header_user' %>

    <% end %>

  <% end %>

  <br>
  <%= yield %> 

  </body>  

  <script type="text/javascript" src="/assets/custom.js"></script>  
  
  </body>  

  <script type="text/javascript" src="/assets/custom.js"></script>

</html>
