<!DOCTYPE html>

<html>

  <head>

    <title>DiretoAo.Br</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,700'%>
    
  </head>

  <body>

  <% if !logged_in? %>

    <%= render 'layouts/header' %>

  <% else %>

    <% if isAdmin? %>

      <%= render 'layouts/header_admin' %>

    <% else %>

      <%= render 'layouts/header_user' %>

    <% end %>

  <% end %>

  <br>
  <%= yield %> 
  
  <%= javascript_include_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </body>  
</html>
