<!DOCTYPE html>

<html>

  <head>

    <title>DiretoAo.Br</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
  </head>

  <body>

  <% if !logged_in? %>

    <%= render 'layouts/header' %>

  <% else %>

    <% if current_user.id == 5 %>

      <%= render 'layouts/header_admin' %>

    <% else %>

      <%= render 'layouts/header_user' %>

    <% end %>

  <% end %>

  <%= yield %> 
    
  </body>
  
</html>
